@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
#login-form a{
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* gallery styling */
#gallery-menu{
  margin: 80px auto 0 auto;
  width: 995px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#gallery-menu .menu-item{
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 1.3em;
  cursor: pointer;
  z-index: 1;
  transition: color 0.4s 0.3s;
}
#gallery-menu .selector{
  height: 100%;
  background-color: rgb(155, 173, 245);
  width: 59px;
  position: absolute;
  top: 0;
  left: 342px;
}
/* set values for the selector
left width,
0 95, 220 212, 545 190, 846 160
0 95, 115 162, 315 127, 480 106
0 76, 100 86, 230 71, 342 59
*/
#gallery-container{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

#gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
  text-align: center;
  overflow: hidden;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
#gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
  font-size: 2.5em;
  color: #333;
}

#gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
#gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}
#gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
#gallery-section .image img:hover{
  transform: scale(1.4) rotate(15deg);
}

/* navbar styling  */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", "sans-serif";
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: rgb(17, 28, 70);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: rgb(155, 173, 245);
  transition: all 0.3s ease;
}
.navbar.sticky .logo a {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: rgb(155, 173, 245);
}

/* menu button styling */

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(67, 87, 163);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


/* home section styling */

.home {
  display: flex;
  background: url("images/banner.jpeg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", "sans-serif";
}
.home .max-width {
  margin: auto 0 auto 80px;
}
.home .home-content .text-1 {
  font-size: 35px;
}
.home .home-content .text-2 {
  font-size: 90px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 50px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: rgb(155, 173, 245);
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: rgb(70, 96, 199);
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid rgb(70, 96, 199);
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #fff;
  background: none;
}

/* all similar content style code */

section {
  padding: 100px 0;
}
.about,
.services,
.skills, .portfolio, .contact, footer, #gallery-section{
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills-content, .contact-content, #gallery-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: rgb(70, 96, 199);
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* about section styling */

.about .title::after {
  content: "who I am";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 450px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: rgb(67, 87, 163);
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: rgb(17, 28, 70);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 9px 18px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid rgb(17, 28, 70);
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: rgb(17, 28, 70);
  background: none;
}

/* service section styling */

.services, .portfolio {
  color: #fff;
  background:#111;
}
.services .title::before,
.portfolio .title::before {
  background: #fff;
}
.services .title::after,
.portfolio .title::after
{
  background: #111;
  content: "what I provide";
}
.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: rgb(67, 87, 163);
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  font-size: 50px;
  color: rgb(155, 173, 245);
  margin-bottom: 10px;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .title::after {
  content: "what I know";
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: rgb(17, 28, 70);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid rgb(17, 28, 70);
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: rgb(17, 28, 70);
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 10px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(67, 87, 163);
}
.skills-content .right .html::before {
  width: 80%;
}
.skills-content .right .css::before {
  width: 70%;
}
.skills-content .right .javascript::before {
  width: 60%;
}
.skills-content .right .php::before {
  width: 40%;
}
.skills-content .right .mysql::before {
  width: 50%;
}
.skills-content .right .illustrator::before {
  width: 90%;
}
.skills-content .right .photoshop::before {
  width: 80%;
}
.skills-content .right .indesign::before {
  width: 70%;
}

/* portfolio section styling */
.portfolio .title::after{
    content: 'my works';
}
.portfolio .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.portfolio .carousel .card:hover{
    background-color: rgb(67, 87, 163);
}
.portfolio .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.portfolio .carousel .card .box p{
  color: #fff;
  text-decoration: none;
}
.portfolio .carousel .card:hover .box{
    transform: scale(1.05);
}
.portfolio .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: #fff;
}
.portfolio .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(67, 87, 163);
    transition: all 0.3s ease;
}
.portfolio .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
} 
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(67, 87, 163)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: rgb(67, 87, 163)!important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
} 
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color:rgb(70, 96, 199);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    font-weight: 300;
    color:rgb(17, 28, 70);
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field, 
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
} 
.contact .right form .textarea{
    height: 150px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(67, 87, 163);
    border-radius: 6px;
    background:rgb(67, 87, 163);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color:rgb(17, 28, 70);
    background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span{
    color:rgb(155, 173, 245); 
}



/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  #gallery-menu{
    width: 600px;
  }
}

@media (max-width: 947px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
  #gallery-section .image{
    flex: 33.33%;
  }
}
@media (max-width: 768px) {
  #gallery-section .image{
    flex: 50%;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 8px 25px;
  }
  .services .serv-content .card, .skills .skills-content .column
   {
    width: 100%;
  }
  #gallery-menu{
    width: 400px;
  }
  #gallery-menu .menu-item{
    font-size: 0.7em;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-1 {
    font-size: 35px;
  }
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 30px;
  }
  #gallery-section .image{
    flex: 100%;
  }
}